<!-- ---
import Social from "@/components/Social.astro";
import type { Config, Navigation, Social as SocialType } from "@/interface";
import { fetchContentType } from "@/lib/strapi";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { params, site } = await fetchContentType<Config>(
  "config",
  {
    populate: {
      site: {
        populate: "*",
      },
      params: {
        populate: "*",
      },
    },
  },
  true
);

const { footer } = await fetchContentType<Navigation>("navigation", {
  populate: {
    main: {
      populate: "*",
    },
    footer: {
      populate: "*",
    },
  },
});

const social = await fetchContentType<SocialType>("social", {
  populate: {
    populate: "*",
  },
});
---

<footer class="section bg-theme-light pb-0">
  <div class="container">
    {/* footer menu */}
    <div class="row">
      {
        footer.map((col) => {
          return (
            <div class="mb-12 sm:col-6 lg:col-3">
              <h2 class="h4" set:html={markdownify(col.name)} />
              <ul class="mt-6">
                {col?.menu.map((item) => (
                  <li class="mb-1">
                    <a href={item.url} rel="">
                      {item.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          );
        })
      }

      {/* social icons */}
      <div class="md-12 sm:col-6 lg:col-3">
        <a href="/" aria-label="Bigspring">
          <Image
            src={site.logo}
            width={site.logo_width}
            height={site.logo_height}
            alt=""
          />
        </a>

        <p class="mt-3 mb-6" set:html={markdownify(params.footerContent)} />
        <Social source={social} className="social-icons mb-8" />
      </div>
    </div>
    {/* copyright */}
    <div class="border-t border-border py-6">
      <p class="text-sm text-center" set:html={markdownify(params.copyright)} />
    </div>
  </div>
</footer> -->
